{% extends 'dashboard/base_template.html' %}

{% block content %}


<div class="card mt-5 mx-auto" style="width:50%">
	<div class="card-body">
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="alert alert-danger">
						<strong>error field {{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endif %}
		<form method="POST" class="" action="/backoffice/store_edit/{{store.id}}">
			{% csrf_token %}
			<div class="container">
				<br>
				<div class="form-group row">
					<div class="col-sm-12 text-center">
						<h3>Update Details</h3>
					</div>
				</div>
				<div class="mx-auto mb-3" style="width:75%">
					{{ form }}
				</div>
				<div class="form-group row">
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-success">Update</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
