{% extends 'dashboard/base_template.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
{%  endblock %}

{% block content %}
<ul class="pagination pt-5">
	<li class="page-item">
		<a class="page-link" href="/backoffice/organization_show" aria-label="Previous">
			<i class="fa fa-angle-left"></i>
			<span class="sr-only">Previous</span>
		</a>
	</li>
</ul>
<div class="row">
	<div class="col">
		<div class="card pb-2">
			<!-- Card header -->
			<div class="card-header border-0">
				<h3 class="mb-0">Stores</h3>
			</div>
			<!-- Light table -->
			<div class="table-responsive">
				<table class="table align-items-center table-flush" id="myTable">
					<thead class="thead-light">
						<tr>
							<th scope="col" class="sort" data-sort="name">Store name</th>
							<th scope="col" class="sort" data-sort="addres">Address</th>
							<th scope="col" class="sort" data-sort="status">Status</th>
							<th scope="col" class="sort" data-sort="created">Created</th>
							<th scope="col" class="sort text-center" data-sort="action">Action</th>
						</tr>
					</thead>
					<tbody class="list">
					{% for store in stores %}
					<tr>
						<th scope="row">
							<div class="media align-items-center">
								<a href="#" class="avatar rounded-circle mr-3">
									<img alt="Store logo" src="{% static "/img/theme/vue.jpg" %}">
								</a>
								<div class="media-body">
									<span class="name mb-0 text-sm">{{ store.name }}</span>
								</div>
							</div>
						</th>
						<td class="budget">
							{{ store.address }}
						</td>
						<td>
							<span class="badge badge-dot mr-4">
								{% if store.status.id == 1 %}
									<i class="bg-success"></i>
								{% else %}
									<i class="bg-danger"></i>
								{% endif %}
								<span class="status">{{ store.status.name }}</span>
							</span>
						</td>
						<td>
							{{ store.created }}
						</td>
						<td class="text-center">
							<div class="dropdown">
								<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-ellipsis-v"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
									<a class="dropdown-item" href="/backoffice/item_show/{{ store.id }}">Items</a>
									<a class="dropdown-item" href="#">Additionals groups</a>
									<a class="dropdown-item" href="#">Additionals</a>
								</div>
							</div>
							<a class="btn btn-success" style="padding: .5rem 1rem;" href="/backoffice/store_edit/{{ store.id }}">Edit</a>
							<a class="btn btn-danger" style="padding: .5rem 1rem;" href="/backoffice/store_destroy/{{ store.id }}">Delete</a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<center><a href="/backoffice/store_add/{{ orgid }}" class="btn btn-primary">Add New Record</a></center>
{% endblock %}

{% block script %}
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" charset="utf-8"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			$('#myTable').DataTable({
				"language": {
					"paginate": {
						"previous": "<i class='fas fa-angle-left'></i>",
						"next": "<i class='fas fa-angle-right'></i>"
					}
				}
			});
		} );
	</script>
{% endblock %}
