{% extends 'dashboard/base_template.html' %}
{% load static %}
{% block content %}

<div class="row py-5">
	<div class="col">
		<div class="card">
			<!-- Card header -->
			<div class="card-header border-0">
				<h3 class="mb-0">Stores</h3>
			</div>
			<!-- Light table -->
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th scope="col" class="sort" data-sort="name">Item name</th>
							<th scope="col" class="sort" data-sort="addres">Store</th>
							<th scope="col" class="sort" data-sort="addres">Price</th>
							<th scope="col" class="sort" data-sort="status">Status</th>
							<th scope="col" class="sort" data-sort="created">Created</th>
							<th scope="col" class="sort text-center" data-sort="action">Action</th>
						</tr>
					</thead>
					<tbody class="list">
					{% for item in items %}
					<tr>
						<th scope="row">
							<div class="media align-items-center">
								<a href="#" class="avatar rounded-circle mr-3">
									<img alt="Store logo" src="{% static "/img/theme/vue.jpg" %}">
								</a>
								<div class="media-body">
									<span class="name mb-0 text-sm">{{ item.name }}</span>
								</div>
							</div>
						</th>
						<td class="budget">
							{{ item.store.name }}
						</td>
						<td class="budget">
							{{ item.price }}
						</td>
						<td>
							<span class="badge badge-dot mr-4">
								<i class="bg-success"></i>
								<span class="status">{{ item.status.name }}</span>
							</span>
						</td>
						<td>
							{{ item.created }}
						</td>
						<td class="text-center">
							<a class="btn btn-success" style="padding: .5rem 1rem;" href="/backoffice/item_edit/{{ item.id }}">Edit</a>
							<a class="btn btn-danger" style="padding: .5rem 1rem;" href="/backoffice/item_destroy/{{ item.id }}">Delete</a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<center><a href="/backoffice/item_add/{{ storeid }}" class="btn btn-primary">Add New Record</a></center>
{% endblock %}
