{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>App</title>
	<link rel="icon" href="{% static "img/brand/favicon.png" %}" type="image/png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
	<link rel="stylesheet" href="{% static "vendor/nucleo/css/nucleo.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "vendor/@fortawesome/fontawesome-free/css/all.min.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "css/argon.css" %}" type="text/css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
	{% block css %}
	{% endblock %}
</head>

<body>

	<!-- Sidenav -->
	<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
		<div class="scrollbar-inner">
			<!-- Brand -->
			<div class="sidenav-header  d-flex  align-items-center">
				<a class="navbar-brand" href="/">
					<img src="{% static "/img/brand/blue.png" %}" class="navbar-brand-img" alt="...">
				</a>
				<div class="ml-auto ">
				<!-- Sidenav toggler -->
					<div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
						<div class="sidenav-toggler-inner">
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="navbar-inner">
				<!-- Collapse -->
				<div class="collapse navbar-collapse" id="sidenav-collapse-main">
					<ul class="navbar-nav">
						<!-- Nav items -->
						<li class="nav-item">
							<a class="nav-link" href="/">
								<i class="ni ni-chart-bar-32 text-red"></i>
								<span class="nav-link-text">Dashboard</span>
							</a>
						</li>
					</ul>
					<!-- Divider -->
					<hr class="my-3">
					<!-- Heading -->
					<h6 class="navbar-heading p-0 text-muted">
						<span class="docs-normal">Main</span>
					</h6>
					<!-- Navigation -->
					<ul class="navbar-nav mb-md-3">
						<li class="nav-item">
							<a class="nav-link" href="/backoffice/organization_show">
								<i class="ni ni-building"></i>
								<span class="nav-link-text">Organization</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/backoffice/store_show">
								<i class="ni ni-shop"></i>
								<span class="nav-link-text">Stores</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/backoffice/item_show">
								<i class="ni ni-bag-17"></i>
								<span class="nav-link-text">Items</span>
							</a>
						</li>
					</ul>
					<!-- Divider -->
					<hr class="my-3">
					<!-- Heading -->
					<h6 class="navbar-heading p-0 text-muted">
						<span class="docs-normal">Users</span>
					</h6>
					<ul class="navbar-nav">
					<!-- Navigation -->
						<li class="nav-item">
							<a class="nav-link" href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-dashboards">
								<i class="ni ni-badge"></i>
								<span class="nav-link-text">Users</span>
							</a>
							<div class="collapse" id="navbar-dashboards" style="">
								<ul class="nav nav-sm flex-column">
									<li class="nav-item">
										<a href="/backoffice/owner_show" class="nav-link">
											<span class="sidenav-normal"> Owners </span>
										</a>
									</li>
									<li class="nav-item">
										<a href="/backoffice/seller_show" class="nav-link">
											<span class="sidenav-normal"> Sellers </span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/backoffice/customer_show">
								<i class="ni ni-single-02"></i>
								<span class="nav-link-text">Customers</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/backoffice/order_show">
								<i class="ni ni-box-2"></i>
								<span class="nav-link-text">Orders</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- Sidenav end -->

	<!--  Nav -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<!-- Navbar links -->
					<ul class="navbar-nav align-items-center  ml-md-auto">
						<li class="nav-item dropdown">
							<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<div class="media align-items-center">
									<span class="avatar avatar-sm rounded-circle">
									<img alt="Image placeholder" src="{% static "img/theme/team-4.jpg"  %}">
									</span>
									<div class="media-body  ml-2  d-none d-lg-block">
									<span class="mb-0 text-sm  font-weight-bold">{{ user.get_username }}</span>
									</div>
								</div>
							</a>
							<div class="dropdown-menu  dropdown-menu-right ">
								<div class="dropdown-header noti-title">
									<h6 class="text-overflow m-0">Welcome!</h6>
								</div>
								<a href="/users/profile" class="dropdown-item">
									<i class="ni ni-single-02"></i>
									<span>My profile</span>
								</a>
								<a href="/users/edit_info" class="dropdown-item">
									<i class="ni ni-settings-gear-65"></i>
									<span>Edit info</span>
								</a>
								<a href="/users/edit_pass" class="dropdown-item">
									<i class="ni ni-support-16"></i>
									<span>Edit pass</span>
								</a>
								<div class="dropdown-divider"></div>
								<a href="/users/logout" class="dropdown-item">
									<i class="ni ni-user-run"></i>
									<span>Logout</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Main content -->
		<div class="container-fluid">
			{% block content %}
			{% endblock %}
		</div>

	</div>

	<script src="{% static "vendor/jquery/dist/jquery.min.js" %}"></script>
	<script src="{% static "vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
	<script src="{% static "vendor/js-cookie/js.cookie.js" %}"></script>
	<script src="{% static "vendor/jquery.scrollbar/jquery.scrollbar.min.js" %}"></script>
	<script src="{% static "vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js" %}"></script>
	<script src="{% static "vendor/chart.js/dist/Chart.min.js" %}"></script>
	<script src="{% static "vendor/chart.js/dist/Chart.extension.js" %}"></script>
	<script src="{% static "js/argon.js" %}"></script>



	<script type="text/javascript">
		let actual_url = window.location.pathname;

		$("a").each(function(){
			if ($(this).attr("href") == actual_url){
				$(this).addClass("active");
			}
		});
	</script>
	{% block script %}
	{% endblock %}
</body>

</html>
