{% extends 'dashboard/base_template.html' %}

{% block content %}


<div class="card mt-5 mx-auto" style="width:50%">
	<div class="card-body">
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="alert alert-danger">
						<strong>error field {{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endif %}
		<form method="POST" class="" action="/backoffice/organization_edit/{{organization.id}}" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="container">
				<br>
				<div class="form-group row">
					<div class="col-sm-12 text-center">
						<h3>Update Details</h3>
					</div>
				</div>
				<div class="mx-auto mb-3" style="width:75%">
					<div class="form-group">
						<label class=" col-form-label">{{ form.status.label }}</label>
						<div class="">
						  {{ form.status }}
						</div>
				  	</div>

					<div class="form-group">
						<label class=" col-form-label">{{ form.paymentmethod.label }}</label>
						<div class="">
						  {{ form.paymentmethod }}
						</div>
				  	</div>

					<div class="form-group">
						<label class=" col-form-label">{{ form.shippingmethod.label }}</label>
						<div class="">
						  {{ form.shippingmethod }}
						</div>
				  	</div>

					<div class="form-group">
						<label class=" col-form-label">{{ form.name.label }}</label>
						<div class="">
						  {{ form.name }}
						</div>
				  	</div>

					<div class="form-group">
						<label class=" col-form-label">{{ form.slug.label }}</label>
						<div class="">
						  {{ form.slug }}
						</div>
				  	</div>

					<div class="form-group">
						<label class=" col-form-label">{{ form.logo.label }}</label>
						<div class="">
						  {{ form.logo }}
						  <img class="card-img-top my-4" src="/{{ form.logo.value }}">
						</div>
				  	</div>


				</div>
				<div class="form-group row">
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-success">Update</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
