{% extends 'dashboard/base_template.html' %}
{% load static %}
{% block content %}
<ul class="pagination pt-5">
	<li class="page-item">
		<a class="page-link" href="/backoffice/order_show" aria-label="Previous">
			<i class="fa fa-angle-left"></i>
			<span class="sr-only">Previous</span>
		</a>
	</li>
</ul>
<div class="row">
	<div class="col">
		<div class="card">
			<!-- Card header -->
			<div class="card-header border-0">
				<h3 class="mb-0">Log</h3>
			</div>
			<!-- Light table -->
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th scope="col" class="sort" data-sort="name">IdOrderItem</th>
							<th scope="col" class="sort" data-sort="status">Status</th>
							<th scope="col" class="sort" data-sort="created">Created</th>
						</tr>
					</thead>
					<tbody class="list">
					{% for log_list in logs %}
						{% for log in log_list %}
						<tr>
							<th scope="row">
								<div class="media align-items-center">
									<a href="#" class="avatar rounded-circle mr-3">
										<img alt="Store logo" src="{% static "/img/theme/vue.jpg" %}">
									</a>
									<div class="media-body">
										<span class="name mb-0 text-sm">{{ log.orderitem.id }}</span>
									</div>
								</div>
							</th>
							<td>
								<span class="badge badge-dot mr-4">
									{% if log.status.id == 1 %}
										<i class="bg-success"></i>
									{% else %}
										<i class="bg-danger"></i>
									{% endif %}
									<span class="status">
										{{ log.status.name }}
									</span>
								</span>
							</td>
							<td>
								{{ log.created }}
							</td>
						</tr>
						{% endfor %}
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


{% endblock %}
