{% extends 'dashboard/base_template.html' %}
{% load static %}
{% block content %}

<div class="row py-5">
	<div class="col">
		<div class="card">
			<!-- Card header -->
			<div class="card-header border-0">
				<h3 class="mb-0">Orders</h3>
			</div>
			<!-- Light table -->
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th scope="col" class="sort" data-sort="name">Customer</th>
							<th scope="col" class="sort" data-sort="status">Status</th>
							<th scope="col" class="sort" data-sort="status">Items</th>
							<th scope="col" class="sort" data-sort="status">Price</th>
							<th scope="col" class="sort" data-sort="created">Created</th>
							<th scope="col" class="sort text-center" data-sort="action">Action</th>
						</tr>
					</thead>
					<tbody class="list">
					{% for order in orders %}
					<tr>
						<th scope="row">
							<div class="media align-items-center">
								<a href="#" class="avatar rounded-circle mr-3">
									<img alt="Store logo" src="{% static "/img/theme/vue.jpg" %}">
								</a>
								<div class="media-body">
									<span class="name mb-0 text-sm">{{ order.fullname }}</span>
								</div>
							</div>
						</th>
						<td>
							<span class="badge badge-dot mr-4">
								<i class="bg-info"></i>
								<span class="status">
									{% for status in order.status %}
										{{ status }}
									{% endfor %}
								</span>
							</span>
						</td>
						<td>
							{% for item_name in order.item_names %}
								{{ item_name }}
							{% endfor %}
						</td>
						<td>
							{{ order.total }}
						</td>
						<td>
							{{ order.created }}
						</td>
						<td class="text-center">
							<a class="btn btn-info" style="padding: .5rem 1rem;" href="/backoffice/order_log/{{ order.id }}">Logs</a>
							<a class="btn btn-success" style="padding: .5rem 1rem;" href="#">Shipping</a>
							<a class="btn btn-danger" style="padding: .5rem 1rem;" href="#">Cancel</a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


{% endblock %}
